* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  /* transition: all 1s ease-out; */
}

body {
  min-height: 8000px;
  font-family: 'Roboto', sans-serif;
  background-color: gray
}
.lightbox__box{
  transition: background 0.5s ease-in-out;
}



/* Light box styling */


.classes__container {
  /* height: 450px; */
  width: 96%;
  margin: 0 auto;
}

.lightbox {
  width: 100%;
  height: 100%;
}

.lightbox {
  justify-content: space-around
}

.lightbox__box {
  max-width: 500px;
  min-width: 300px;  
  height: 475px;
  margin: 50px auto;

}

.lightbox__fullscreen {
  z-index: 10101;
}